/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

:root {
  --btn-color: #2e29ff;
}

body,
html {
  background-color: gray;
  height: 100%;
  margin: 0;
}

#btns {
  position: absolute;
  left: 22px;
  top: 39px;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.btn {
  height: 180px;
  width: 180px;
  margin-right: 12px;
  background-color: var(--btn-color);
  border-radius: 50%;
}

.btnicon {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  color: white;
}

#videos {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#subscriber {
  width: 100%;
  height: 50%;
}

#publisher {
  width: 100%;
  height: 50%;
}
